.simpleContent {
    height: 90vh;
    /* margin-top: 6em; */
}

.editLessonPicName {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.editLessonPicName p {
    color: #cccccc;
}

.editLessonDetails button, .editLessonModifBtn button, .editLessonHistoryBtn button{
    padding: 6px;
    padding-inline: 1em;
    border-radius: 30px;
    border: 0;
    background-color: #845583;
}

.editLessonDetails .exercices .reviewedBtn{
    background-color: rgb(0,0,0,0);
    border: #B5B5B5 1px solid;
}

.editLessonDetails .exercices .toDoBtn{
    opacity: 0;
    pointer-events: none;
    cursor: default;
}


.editLessonPicName img{
    margin-right: 1em;
    width: 8em;
}

.editLessonDetails{
    margin-top: 1em;
    padding-inline: 1em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
}

.editLessonDetails h2, .editLessonPopUp h2 {
    margin-bottom: 0.5em;
    font-size: medium;
    margin-left: 1em;
    padding-top: 1em;
}

.editLessonDetails > hr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    height: 1px;
    background-color: #4A4A4A;
    border: none;
}

.editLessonDetails .exercices > div:last-child hr {
    opacity: 0;
}

.editLessonDetails .editLessonInstruments{
    margin-left: 0.5em;
    font-size: small;
}

.editLessonDetails .nextLesson {
    margin-top: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.editLessonDetails .nextLesson p {
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 1em;
}

.editLessonDetails .nextLesson input {
    border: 0;
    border-radius: 30px;
    padding: 0.5em;
    background-color: #505050;
    color-scheme: dark;
}

.editLessonDetails .exercices span{
    height: 1em;
    min-width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 0.75em;
    margin-right: 1em;
}

.editLessonDetails .exercices .reviewed {
    background-color: #409048;
}

.editLessonDetails .exercices .finished {
    background-color: #FFA800;
}

.editLessonDetails .exercices .toDo {
    background-color: #CC3535;
}

.editLessonDetails .exercices {
    background-color: #474747;
    border-radius: 30px;
    margin-top: 1em;
}

.editLessonDetails .exercices h3 {
    margin-left: 2em;
    padding-top: 0.5em;
}

.editLessonDetails .exercices p {
    margin-top: 0.5em;
}

.editLessonDetails .exercices > div > div {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 95%;
}

.editLessonDetails .exercices > div > div > div{
    display: flex;
    flex-direction: row;
}

.editLessonDetails .exercices hr {
    width: 90%;
    margin-inline: auto;
    height: 1px;
    background-color: #505050;
    border: none;
}


.editLessonDetails .exercices a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    margin-left: 0.5em;
}

.editLessonDetails .buttons  {
    display: flex;
    flex-direction: column;
}

.editLessonDetails .buttons button {
    margin-top: 1em;
    width: 100%;
    border: #9F9F9F 1px solid;
    background-color: rgb(0,0,0,0);
}

.editLessonDetails .buttons button:last-of-type {
    border: #e12222 1px solid;
    color: #f1dddd;
}

.validateBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-inline: auto;
}

.validateBtn button, .editLessonPopUp button{
    width: 50%;
    display: block;
    border: #845583 1px solid;
    background-color: #845583;
    border-radius: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    margin-inline: auto;
}

.editLessonDetails textarea, .editLessonPopUp textarea {
    background-color: #393939;
    width: 100%;
    resize: none;
}

.editLessonDetails .exercices > div > div > div > button{
    border: 1px solid #9F9F9F;
    background-color: rgb(0,0,0,0);
    margin-left: 0.5em;
}

.editLessonPopUp #overlay {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
    height: 100%;
}

.editLessonPopUp #popup #close {
    position:absolute;
    right:0.5em;
    top:0.5em;
    z-index:99;
    width:25px;
    height:25px;
    cursor:pointer;
    color: #fff;
    display: inline-block;
}

.editLessonPopUp #popup {
    position:absolute;
    width:70%;
    /* height:31em; */
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #3D3D3D;
    box-shadow: 0px 0px 10px 0px black;
    overflow: scroll;
}

.editLessonPopUp #popup h2 {
    height: 2.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: #474747 1px solid;
    text-align: center;
    height: 3em;
}

.editLessonPopUp #popup h3 {
    text-align: center;
    margin-bottom: 0.5em;
    color: #e3e3e3;
}

.editLessonPopUp #popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editLessonPopUp #popup form > div {
    margin-bottom: 1em;
}

.editLessonPopUp #popup input,.editLessonPopUp #popup select {
    background-color: #393939;
    border: gray 1px solid;
}

.editLessonPopUp #popup #file {
    width: 90%;
    margin-left: 1em;
}