
#editUser > h1{
    align-self: center;
    padding-bottom: 0.5em;
}

#editUser .GreyDiv {
    padding-inline: 1em;
    padding-right: 0;
}

#editUser button {
    padding: 6px;
    padding-inline: 0.7em;
    border-radius: 30px;
    border: 1px rgb(148, 148, 148) solid;
    padding-top: 0;
    padding-bottom: 0.2em;
    margin-left: 0;
}

#editUserForm .userInstruments > button {
    background-color: #845583;
    padding-inline: 1em;
    border: 0;
    width: 3em;
    min-height: 2em;
}

#editUserForm{
    margin-top: 1em;
    padding-bottom: 1em;
}

#editUserForm:first-child {
    display: flex;
    flex-direction: column;
    gap:0.3em;
    font-weight: bold;
    padding-top: 1em;
    margin-left: 1em;
}

#editUserForm .userInstruments{
    font-size: small;
    margin-top: 0.5em;
}

#editUserForm .userInstruments > div{
    display: flex;
    flex-direction: column;
}

#editUserForm .userInstruments > div > div{
    margin-bottom: 0.5em;
}
.userInstruments p {
    margin-right: 0.3em;
}

#editUser #editUserForm > label > button {
    background-color: #845583;
    border: 0;
    width: 3em;
    margin-left: -0.75em;
    margin-top: 0.25em;
}




#editUser input:not([type="submit"]){
    background-color: #474747;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 0.8em;
    margin-left: -1em;
    margin-top: 0.5em;
    width: 80%;
}

#editUser input[type="submit"]{
    background-color: #845583;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    width: 50%;
    display: flex;
    justify-content: center;
}

.userValidateBtn {
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: -1em;
}

#editUserForm hr {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    height: 1px;
    background-color: #4A4A4A;
    border: none;
    width: 90%;
}

.deleteBtn {
    background-color: #3D3D3D;
    border: 1px solid #939393;
    padding-inline: 0;
}

#editUser #overlay {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
}

#editUser #popup #close {
    position:absolute;
    right:0.5em;
    top:0.5em;
    z-index:99;
    width:25px;
    height:25px;
    cursor:pointer;
    color: #fff;
    display: inline-block;
}

#editUser #popup {
    position:relative;
    width:70%;
    height:fit-content;
    top:25%;
    left:15%;
    text-align:center;
    border-radius: 10px;
    background: #3D3D3D;
    box-shadow: 0px 0px 10px 0px black;
    overflow: scroll;
}

/* #popup > div:first-child {
    position : sticky;
    top: 0;
    z-index: 1;
} */

#popup h2 {
    font-size:1em;
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: #474747 1px solid;
}

#popup > #instruments {
    margin-top: 0.5em;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    gap:0.5em;
    padding-bottom: 0.5em;
}

#popup > #instruments > div {
    padding-bottom: 0.5em;
    width: fit-content;
    height: fit-content;
}

#instruments > div > p {
    padding: 0.5em;
    padding-inline: 2em;
    background-color: transparent;
    border: white solid 1px;
}

#popup .addInstrument {
    border: 0;
    width: 50%;
    margin : 1em 0;
    padding: 0.5em 1em; 
}

#popup .selectedInstrument{
    background-color: #845583;
    border-color: #845583;
}

textarea.userDesc {
    background-color: #474747;
    padding: 0.5em;
    width: 90%;
    margin: 0;
}

.editUserOk{
    color: #409048;
    font-weight: bold;
    text-align: center;
    display: none;
}

