.divSearchTeacher input {
  color: var(--text-color);
  background-color: var(--div-background);
  padding: 8px;
  border-radius: 30px;
  border: 0;
}
.divSearchTeacher > h2 {
  font-size: medium;
  /* padding-top: 0.75em; */
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.divSearchTeacher {
  display: flex;
  flex-direction: column;
}

.searchBtns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0.35em;
}

.searchBtns  button, .searchTeacher > .GreyDiv > div > button {
  background-color: #845483;
  border:0;
  border-radius: 30px;
  padding: 0.2em 0.5em;
  font-weight: bold;
  color: white;
  font-size: 0.8em;
  margin-left: 1em;
}

.searchTeacher > .GreyDiv > div > button{
  margin-top: 1em;
}

.searchTeacher > .GreyDiv{
  padding:1em;
}

.searchTeacher > .GreyDiv > div > div{
  min-height: 5.5em;
}

.searchTeacher .divSearchTeacher form {
  margin-inline: auto;
  margin-top: 0.5em;
}

.searchTeacher .divSearchTeacher form img {
  width: 1.2em;
  margin-top: 0.2em;
}

.searchTeacher select {
  background-color: --div-background;
  border: 0;
  border-bottom: solid 0.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  margin-inline: 0.5em;
  margin-bottom: 0.25em;
  color: #a268a1;
  font-weight: bold;
  font-size: 0.95em;
  overflow: scroll;
  /* width: 8em; */
}

.searchTeacher select option{
  background-color: whitesmoke;
}

.searchTeacher form #instrumentSelect, .searchTeacher form #rythmSelect, .searchTeacher .searchBtns {
  display: none;
}

.searchTeacher form input[type="submit"] {
  display: none;
  background-color: #845483;
  margin-top: 0.5em;
  margin-inline: auto;
  font-weight: bold;
  color: white;
}

.searchTeacher > img {
  width: 10em;
  opacity: 0.1;
  display: block;
  position: absolute;
  left: 30%;
  top: 40%;
  z-index: -4;
}


.findTeacherImg {
  width: 5em;
  float: left;
  /* margin-top: 0.5em; */
  margin-right: 0.5em;
}

#teacherName h2{
  /* padding-top: 1em; */
  font-size: medium;
  margin-left: 1em;
  margin-bottom: 0.2em;
}

.textDesc {
  margin-inline: 0em;
  font-size: small;
}

.greyText {
  color: #B0B0B0;
  font-size: medium;
}

.instrumentsTeach{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.7em;
}

.instrumentsTeach p {
  font-size: 0.75em;
  margin-top: 0.35em;
}

.overlayContent{
  z-index: 999;
  position: absolute;
  width: 70%;
  background-color: #474747;
  border-radius: 30px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  left:15%;
  top: 30%;
  height: 40%;
  text-align: center;
}

.overlayContent > .closeOverlay{
  align-self: end;
  padding: 0.2em 1em;
  font-weight: bold;
}

.overlayContent > button{
  margin-top: 0.5em;
  padding: 1em 0.5em;
  border-radius: 30px;
  background-color: #845483;
  border: 0;
  width:80%;
  font-weight: bold;
}

.overlayContent > .overlayParams{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  text-align: center;
  padding-bottom: .5em;
}

.overlayParams option{
  color: black;
}

.overlayParams select{
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 2px solid white;
  background-color: transparent;
  margin-top: 0.2em;
}

.overlayContent .errorTeacher{
  color: red;
  font-size: small;
  font-weight: bold;
  display: none;
}