.div1 input {
  color: rgb(255, 255, 255);
  background-color: #474747;
  padding: 8px;
  border-radius: 30px;
  border: 0;
  margin-inline: 1em;
}

.GreyDiv img {
  width: 5em;
  float: left;
  margin: 0.5em;
}

.div1 > h2{
    font-size: large;
    padding-top: 0.75em;
    margin-left: 1em;
}

.GreyDiv .textDesc {
  margin-inline: 1em;
  font-size: small;
}

.GreyDiv > div{
  margin-inline: 0.5em;
}

#teacherName h2{
  padding-top: 1.5em;
}

.greyText {
  color: #B0B0B0;
  font-size: medium;
}

.instrumentText{
  font-weight: bold;
  display: inline;
  margin-right: 6px;
  border: #845583 solid 1px;
  border-radius: 30px;
  padding-inline: 1em;
  padding-bottom: 2px;
}

.TeacherSearch{
  display: flex;
  flex-direction: column;
  gap: 1em;
}