.header{
    width:100vw;
    height: fit-content;
    text-align: center;
    padding-top: 5vh;
}

.header > img{
    width:auto;
    height: 7vh;
    display: inline-block;
}

h1 {
    text-align: center;
}

.loading-pwd {
    text-align: center;
}

.error-div {
    background-color: #e66161;
    padding: 1.5em;
    border-radius: 1.5em;
    color: white;
    text-align: center;
    width: fit-content;
}

.forgotpwdForm {
    background-color: #3D3D3D;
    width: 90vw;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailinfo {
    margin-top: 1em;
    text-align: center;
}

.forgotpwdForm > * {
    width: 90%;
}

.retry-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.forgotpwdBtn {
    background-color: #845583;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
    width: fit-content;
    margin-top: 20px;
}
.forgotpwdBtn:hover {
    background-color: #6d3d6d;
    cursor: pointer;
}

.disabled-button {
    background-color: #474747;
    color: #b1b1b1;
    cursor: not-allowed;
}

.disabled-button:hover {
    background-color: #474747;
    cursor: not-allowed;
}

.forgotpwdForm input {
    background-color: #474747;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1em;
}

.forgotpwdForm label {
    display: flex;
    flex-direction: column;
    gap:0.3em;
    font-weight: bold;
}