.SeanceDesc{
    padding-top: 1em;
}

.homeStudent{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.coursePadding{
    padding: 0.5em 0.7em 0.5em 0.7em;
}

.courseContent{
    padding : 0.7em;
}

.CourseActivities{
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.courseActivity{
    background-color: #474747;
    border-radius: 7px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 100%;
    height: 7vh;
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.courseActivityLine{
    height: fit-content;
    padding-left: 0.5em;
    width: 52%;
}

.courseActivityLine > p:nth-of-type(2){
    font-weight:bold;
    font-size: smaller;
}

.courseActivityButton{
    width: 32%;
}

.courseActivityButton > button{
    width: 100%;
    height: 100%;
    font-weight: bold;
    margin-inline: 0;
    background-color:#845583;
    border-radius: 15px;
    border:0;
}

.redAct{
    background-color: #C92A2A;
    width: 3vw;
    height: 100%;
    border-radius: 15px;
}

.greenAct{
    background-color: #409048;
    width: 3vw;
    height: 100%;
    border-radius: 15px;
}

.orangeAct{
    background-color: #E8A317;
    width: 3vw;
    height: 100%;
    border-radius: 15px;
}