.header{
    width:100vw;
    height: fit-content;
    text-align: center;
    padding-top: 5vh;
}

.header > img{
    width:auto;
    height: 7vh;
    display: inline-block;
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.loginForm, .registerForm{
    background-color: #3D3D3D;
    width: 90vw;
    height: fit-content;
    padding: 1.5em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.loginForm > h1{
    align-self: center;
    padding-bottom: 0.5em;
}

.loginForm label{
    display: flex;
    flex-direction: column;
    gap:0.3em;
    font-weight: bold;
}

.loginForm input{
    background-color: #474747;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1em;
}

.loginForm > button{
    background-color: #845583;
    border: none;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    width: 100%;
    align-self: center;
}

.loginForm > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginForm > p:nth-of-type(2){
    align-self: flex-end;
    text-decoration: underline;
}

.loginForm > .errorLogin{
    color: #C92A2A;
    display: none;
    position: relative;
    margin:0 auto;
    font-weight: bold;
}


.loginForm .register{
    text-align: center;
    text-decoration: underline;
    padding-top: .5em;
}