header{
    width:100vw;
    height: fit-content;
    border-bottom: 2px solid var(--header-border);
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
}

.logo{
    width:auto;
    height: 6vh;
    display: inline-block;
    margin-left: 1.75em;
}

.user, .settings{
    height : 3vh;
    width: auto;
}